* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.App {
  width: 100%;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  color: #E8E8E8;
  background-color: #1c1b1b;
  position: relative;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #E8E8E8;
}

.Nav {
  width: 100%;
  height: 110px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Nav .Nav-InnerWrap {
  width: 900px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Nav .Nav-InnerWrap .NavItem {
  font-size: 13px;
  font-weight: 400;
  cursor: pointer;
}

.Nav .Nav-InnerWrap .MenuTabActive {
  border-bottom: 1px solid #958A52;
}

.Nav .Nav-InnerWrap .BookingTabActive {
  border-bottom: 1px solid #958A52;
}

.Nav .Nav-InnerWrap .StoryTabActive {
  border-bottom: 1px solid #958A52;
}

.Nav .Nav-InnerWrap .ExperienceTabActive {
  border-bottom: 1px solid #958A52;
}

.Nav .Nav-InnerWrap .Logo {
  font-family: "Baskerville", serif;
  font-size: 56px;
  font-weight: 500;
  -webkit-transition: font-size 1s ease-in-out;
  transition: font-size 1s ease-in-out;
}

.Nav .Nav-InnerWrap .Mobile-Nav-MenuIcon {
  width: 39px;
  height: 21px;
  position: relative;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.Nav .Nav-InnerWrap .Mobile-Nav-MenuIcon .Mobile-Nav-MenuIcon-Bar {
  width: 100%;
  height: 3px;
  background-color: #E5E5E5;
}

.NavActiveTab {
  border-bottom: 1px solid #958A52;
}

@media screen and (max-width: 950px) {
  #Nav-InnerWrap {
    width: 90%;
  }
  .NavLink {
    display: none;
  }
  #Mobile-Nav-MenuIcon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 650px) {
  #Logo {
    font-size: 42px;
  }
}

/* ---- Navigation ---- */
/* --- */
/* --- */
/* --- */
/* --- */
/* --- */
/* --- */
/* --- */
/* --- */
/* --- */
/* ---- Side Nav ---- */
.SideNav {
  width: 500px;
  height: 100vh;
  position: fixed;
  display: none;
  right: 0;
  top: 0;
  background-color: #E5E5E5;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  z-index: 1002;
}

.SideNav .SideNav-InnerWrap {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 250px 150px;
  padding-bottom: 350px;
}

.SideNav .SideNav-InnerWrap .SideNav-Item {
  color: #1c1b1b;
  font-size: 30px;
  font-weight: 500;
  white-space: nowrap;
}

.SideNav .SideNav-InnerWrap .SideNav-Email {
  color: #1c1b1b;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  bottom: 0;
  margin-bottom: 130px;
}

.SideNav .ExitSideNav {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 40px;
  margin-top: 30px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.SideNav .ExitSideNav .ExitSideNav-InnerWrap {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.SideNav .ExitSideNav .ExitSideNav-InnerWrap .ExitSideNav-Bar {
  width: 100%;
  height: 3px;
  background-color: #1c1b1b;
  position: absolute;
}

.SideNav .ExitSideNav .ExitSideNav-InnerWrap #Bar1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.SideNav .ExitSideNav .ExitSideNav-InnerWrap #Bar2 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.SideNavOpen {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media screen and (max-width: 950px) {
  #SideNav {
    display: block;
  }
}

@media screen and (max-width: 550px) {
  #SideNav {
    width: 100%;
  }
}

@media screen and (max-height: 900px) {
  #SideNav-InnerWrap {
    padding: 150px 100px;
    padding-bottom: 200px;
  }
}

@media screen and (max-height: 850px) {
  #SideNav-InnerWrap {
    padding: 150px 100px;
    padding-bottom: 245px;
  }
}

@media screen and (max-height: 700px) {
  #SideNav-Email {
    margin-bottom: 50px;
  }
}

/* ---- Side Nav ---- */
/* --- */
/* --- */
/* --- */
/* --- */
/* --- */
/* --- */
/* --- */
/* --- */
/* --- */
/* ---- Footer ---- */
.Footer {
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 0;
  left: 0;
  margin-left: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 800;
}

.Footer .Footer-InnerWrap {
  width: 55%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Footer .FooterItem {
  font-size: 12px;
  font-weight: 300;
}

.Footer .Footer-ScrollWrap {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Footer .Footer-ScrollWrap .Footer-ScrollText {
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 5px;
}

@media screen and (max-width: 950px) {
  #Footer {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 0;
  }
  #Footer-InnerWrap {
    width: 90%;
  }
}

@media screen and (max-width: 540px) {
  #FooterItem {
    display: none;
  }
  #Footer-InnerWrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #Footer-ScrollWrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/* ---- Footer ---- */
/* --- */
/* --- */
/* --- */
/* --- */
/* --- */
/* --- */
/* --- */
/* --- */
/* --- */
/* ---- Asset Components ---- */
.SocialTags {
  position: fixed;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 50px;
  margin-bottom: 7%;
  height: 120px;
  z-index: 700;
}

.MobileSocialTags {
  width: 150px;
  position: absolute;
  bottom: 0;
  margin-bottom: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #1c1b1b;
  opacity: .5;
  z-index: 1001;
}

@media screen and (max-width: 950px) {
  #SocialTags {
    display: none;
  }
}

@media screen and (max-height: 700px) {
  #MobileSocialTags {
    margin-bottom: 100px;
  }
}

/* ---- Asset Components ---- */
/* --- */
/* --- */
/* --- */
/* --- */
/* --- */
/* --- */
/* --- */
/* --- */
/* --- */
/* ---- Pages ---- */
/* ---- v Landing v ---- */
.Landing {
  width: 100%;
  height: 100%;
  /* Desktop */
  /*Mobile*/
}

.Landing .Desktop-Landing {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url("./Images/BGSaporiLanding1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.Landing .Mobile-Landing {
  width: 100%;
  height: 100%;
  display: none;
  /* MobileLargeSections*/
  /* MobileSmallSections*/
}

.Landing .Mobile-Landing .MobileLandingSectionLarge {
  width: 100%;
  height: 100vh;
  padding: 5%;
  position: relative;
}

.Landing .Mobile-Landing .MobileLandingSectionLarge1 {
  background-image: url("./Images/BGSaporiLanding1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.Landing .Mobile-Landing .MobileLandingSectionLarge2 {
  background-image: url("./Images/BG-SaporiMobile2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.Landing .Mobile-Landing .MobileLandingSectionLarge3 {
  background-image: url("./Images/BG-SaporiMobile3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.Landing .Mobile-Landing .MobileLandingSectionLarge4 {
  background-image: url("./Images/BG-SaporiMobile4.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.Landing .Mobile-Landing .MobileLandingContentWrap {
  width: 75%;
  Padding-top: 80%;
  margin-left: 7%;
}

.Landing .Mobile-Landing .MobileLandingContentWrap .MobileLandingHeader {
  font-family: "Baskerville", serif;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 10px;
}

.Landing .Mobile-Landing .MobileLandingContentWrap .MobileLandingDescriptionWrap {
  width: 100%;
  background-color: rgba(120, 118, 118, 0.228);
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.Landing .Mobile-Landing .MobileLandingContentWrap .MobileLandingDescriptionWrap .MobileLandingDescription {
  font-size: 16px;
  line-height: 25px;
}

.Landing .Mobile-Landing .MobileLandingContentWrap .MobileLandingButton {
  background-color: transparent;
  border: 1px solid #E5E5E5;
  padding: 0 5px;
  height: 30px;
}

.Landing .Mobile-Landing .MobileLandingContentWrap .MobileLandingButton .MobileLandingButtonText {
  font-size: 16px;
  font-weight: 400;
  color: #E5E5E5;
}

.Landing .Mobile-Landing .MobileLandingSectionsTitle {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
}

.Landing .Mobile-Landing .MobileLandingSectionSmall {
  width: 100%;
  background-color: #1c1b1b;
}

@media screen and (max-width: 650px) {
  #Desktop-Landing {
    display: none;
  }
  #Mobile-Landing {
    display: block;
  }
}

@media screen and (max-height: 500px) {
  #Desktop-Landing {
    display: none;
  }
  #Mobile-Landing {
    display: block;
  }
}

@media screen and (max-height: 750px) {
  #MobileLandingContentWrap1 {
    padding-top: 40%;
  }
}

@media screen and (max-height: 600px) {
  #MobileLandingHeader {
    font-size: 30px;
  }
  #MobileLandingDescription {
    font-size: 14px;
    line-height: 18px;
  }
  #MobileLandingButtonText {
    font-size: 14px;
  }
  #MobileLandingContentWrap {
    padding-top: 40%;
  }
}

/* ---- ^ Landing ^ ---- */
/* ---- v Menu v ---- */
.Menu {
  width: 100%;
  padding: 10% 20%;
  background-color: #1c1b1b;
  position: relative;
}

.Menu .Menu-Section {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1c1b1b;
}

.Menu .Menu-Section .Category {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.Menu .Menu-Section .Category .Menu-CategoryTitle {
  font-size: 28px;
  font-family: "Baskerville", serif;
  color: #958A52;
  font-weight: 400;
  margin-bottom: 20px;
}

.Menu .Menu-Section .Category .MenuItemWrap {
  width: 100%;
}

.Menu .Menu-Section .Category .MenuItemWrap .MenuItem-TopRow {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Menu .Menu-Section .Category .MenuItemWrap .MenuItem-TopRow .MenuItem-Title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}

.Menu .Menu-Section .Category .MenuItemWrap .MenuItem-TopRow .MenuItem-Price {
  font-size: 16px;
  font-weight: 400;
}

.Menu .Menu-Section .Category .MenuItemWrap .MenuItem-Description {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
  line-height: 20px;
  padding-left: 10px;
}

.Menu .MenuDisclaimer {
  margin-top: 50px;
  text-align: center;
  font-size: 12px;
  font-weight: 300;
}

.Menu-BlockerTop {
  width: 99%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  background-color: #1c1b1b;
}

.Menu-BlockerBottom {
  width: 99%;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 50px;
  background-color: #1c1b1b;
}

@media screen and (max-width: 890px) {
  #Menu-Section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .Menu-Section1 {
    margin-top: 15%;
  }
}

@media screen and (max-width: 470px) {
  #Menu {
    padding: 10% 10%;
  }
  .Menu-Section1 {
    margin-top: 70px;
  }
  #Menu-CategoryTitle {
    font-size: 25px;
  }
  #MenuItem-Title {
    font-size: 18px;
  }
  #MenuDisclaimer {
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 16px;
  }
}

/* ---- ^ Menu ^ ---- */
/* ---- v Booking v ---- */
.Booking {
  width: 100%;
  position: relative;
}

.Booking .Booking-LandingSection {
  width: 100%;
  height: 100vh;
}

.Booking .Booking-LandingSection .BookingTopSpacer {
  width: 100%;
  height: 100px;
}

.Booking .Booking-LandingSection .Booking-Hero {
  width: 100%;
  height: 50%;
  background-image: url("./Images/BG-SaporiBooking.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Booking .Booking-LandingSection .Booking-Hero .Booking-HeroTitle {
  font-size: 32px;
  font-family: "Baskerville", serif;
  font-weight: 400;
  margin-top: 20px;
}

.Booking .Booking-LandingSection .Booking-Hero .Booking-HeroOnlineWrap {
  text-align: center;
  margin-bottom: 40px;
}

.Booking .Booking-LandingSection .Booking-Hero .Booking-HeroOnlineWrap .Booking-HeroSubtitle {
  font-size: 60px;
  margin-bottom: 30px;
}

.Booking .Booking-LandingSection .Booking-Hero .Booking-HeroOnlineWrap .Booking-HeroBtn {
  border: 1px solid #E5E5E5;
  background-color: transparent;
  padding: 5px 10px;
  outline: none;
}

.Booking .Booking-LandingSection .Booking-Hero .Booking-HeroOnlineWrap .Booking-HeroBtn .Booking-HeroBtnText {
  font-size: 25px;
  color: #E5E5E5;
  font-weight: 400;
}

.Booking .Booking-LandingSection .Booking-LandingInfo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 10% 20%;
  padding-top: 7%;
}

.Booking .Booking-LandingSection .Booking-LandingInfo .BookingInfoItem {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
}

.Booking .Booking-LandingSection .Booking-LandingInfo .BookingInfoItem .Booking-LandingInfo-ItemTitle {
  font-family: "Baskerville", serif;
  font-weight: 400;
  color: #958A52;
  font-size: 28px;
  margin-bottom: 20px;
}

.Booking .Booking-LandingSection .Booking-LandingInfo .BookingInfoItem .Booking-LandingInfo-ItemText {
  font-size: 14px;
  margin-bottom: 5px;
}

.Booking .Booking-LandingSection .Booking-LandingInfo .BookingInfo-Hours {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
}

.Booking .Booking-LandingSection .Booking-LandingInfo .BookingInfo-Hours .Booking-HoursGridWrap {
  width: 70%;
}

.Booking .Booking-LandingSection .Booking-LandingInfo .BookingInfo-Hours .Booking-HoursGridWrap .Booking-Hours-Row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Booking .Booking-BookingSetUp {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 0;
  position: relative;
  margin-bottom: 30px;
}

.Booking .Booking-BookingSetUp .Booking-BookingSetUp-BorderTop {
  width: 80%;
  height: 1px;
  position: absolute;
  top: 0;
  background-color: #E5E5E5;
}

.Booking .Booking-BookingSetUp .Booking-BookingSetUp-Title {
  font-size: 24px;
  margin-bottom: 50px;
  margin-top: 50px;
  font-weight: 400;
}

.Booking .Booking-BookingSetUp .ReservationForm {
  text-align: right;
  padding-right: 80px;
}

.Booking .Booking-BookingSetUp .ReservationForm .Form .Booking-FormRow {
  margin-bottom: 50px;
}

.Booking .Booking-BookingSetUp .ReservationForm .Form .Booking-FormRow .FormLabel {
  margin-right: 10px;
  font-size: 14px;
  font-weight: 400;
}

.Booking .Booking-BookingSetUp .ReservationForm .Form .Booking-FormRow .FormLabel .Span {
  color: #B72B2B;
}

.Booking .Booking-BookingSetUp .ReservationForm .Form .Booking-FormRow .Booking-Input {
  background-color: transparent;
  border: none;
  color: #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
  outline: none;
}

.Booking .Booking-BookingSetUp .ReservationForm .Form .Booking-FormRow .Booking-Input::-webkit-input-placeholder {
  color: #E5E5E5;
}

.Booking .Booking-BookingSetUp .ReservationForm .Form .Booking-FormRow .Booking-Input:-ms-input-placeholder {
  color: #E5E5E5;
}

.Booking .Booking-BookingSetUp .ReservationForm .Form .Booking-FormRow .Booking-Input::-ms-input-placeholder {
  color: #E5E5E5;
}

.Booking .Booking-BookingSetUp .ReservationForm .Form .Booking-FormRow .Booking-Input::placeholder {
  color: #E5E5E5;
}

.Booking .Booking-BookingSetUp .ReservationForm .Form .Booking-BookingSetUp-Radio {
  margin-bottom: 15px;
}

.Booking .Booking-BookingSetUp .ReservationForm .Form .Booking-BookingSetUp-Radio .Booking-BookingSetUp-Radio-Text {
  font-size: 14px;
  margin-right: 10px;
}

.Booking .Booking-BookingSetUp .ReservationForm .Form .Booking-SubmitBtn {
  background-color: transparent;
  border: 1px solid #958A52;
  padding: 10px 25px;
  outline: none;
  margin-top: 20px;
}

.Booking .Booking-BookingSetUp .ReservationForm .Form .Booking-SubmitBtn .Booking-SubmitBtn-Text {
  color: #E5E5E5;
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
}

.Booking .Booking-BookingSetUp .Booking-BookingSetUp-BottomSpacer {
  width: 100%;
  height: 50px;
}

@media screen and (max-width: 900px) {
  #Booking-LandingInfo {
    padding: 10% 5%;
  }
}

@media screen and (max-width: 590px) {
  #Booking-HeroSubtitle {
    font-size: 45px;
  }
  #Booking-HeroBtnText {
    font-size: 20px;
  }
  #Booking-LandingSection {
    height: 100%;
    margin-bottom: 40px;
  }
  #Booking-LandingInfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
  }
  #Booking-Info {
    margin-bottom: 30px;
  }
  #Booking-LandingInfo-ItemTitle {
    font-size: 23px;
    white-space: nowrap;
    margin-bottom: 10px;
  }
  #Booking-LandingInfo-ItemText {
    font-size: 12px;
  }
  #Booking-BookingSetUp-BorderTop {
    display: none;
  }
  #ReservationForm {
    padding-right: 0px;
  }
  #Booking-FormRow {
    padding-right: 50px;
  }
  #Booking-SubmitBtn {
    margin-right: 50px;
    margin-top: 20px;
  }
  #Booking-BookingSetUp-BottomSpacer {
    display: none;
  }
}

@media screen and (max-height: 900px) {
  #Booking-BookingSetUp {
    margin-top: 80px;
  }
}

@media screen and (max-height: 750px) {
  #Booking-LandingInfo {
    padding: 5% 20%;
  }
}

@media screen and (max-height: 500px) {
  #Booking-BookingSetUp-BorderTop {
    display: none;
  }
}

/* ---- ^ Booking ^ ---- */
/* ---- v Our Story v ---- */
.OurStory {
  width: 100%;
  position: relative;
  padding: 2% 5%;
}

.Discover1 {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  margin-bottom: 20px;
}

.Discover1 .Story-Discover-ImageWrap {
  width: 35%;
  height: 80%;
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.Discover1 .Story-Discover-ImageWrap .Story-Discover-ImageFrame {
  width: 80%;
  height: 100%;
  background-color: #272727;
  position: absolute;
}

.Discover1 .Story-Discover-ImageWrap .Story-Discover-Image {
  width: 90%;
  height: 90%;
  background-image: url("./Images/Story-Image1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  position: absolute;
  right: 5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.222);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.222);
}

.Discover1 .Story-Discover-TextWrap {
  width: 40%;
  height: 100%;
  margin-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Discover1 .Story-Discover-TextWrap .Story-Discover-Header {
  font-size: 25px;
  font-weight: 400;
  font-family: "Baskerville", serif;
  color: #958A52;
  margin-bottom: 5px;
}

.Discover1 .Story-Discover-TextWrap .Story-Discover-Title {
  font-size: 45px;
  margin-bottom: 5px;
}

.Discover1 .Story-Discover-TextWrap .Story-Discover-Text {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 15px;
}

.Tradition2 {
  width: 100%;
  position: relative;
  padding: 0 10%;
  margin-bottom: 60px;
}

.Tradition2 .Story-Tradition-ImageWrap {
  width: 30%;
  height: 400px;
  float: right;
  margin-left: 30px;
  margin-bottom: 30px;
  position: relative;
}

.Tradition2 .Story-Tradition-ImageWrap .Story-Tradition-ImageFrame {
  width: 95%;
  height: 95%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #272727;
}

.Tradition2 .Story-Tradition-ImageWrap .Story-Tradition-Image {
  width: 95%;
  height: 95%;
  background-image: url("./Images/Story-Image2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.229);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.229);
}

.Tradition2 .Story-Tradition-TextWrap {
  width: 100%;
  position: relative;
}

.Tradition2 .Story-Tradition-TextWrap .Story-Tradition-Header {
  font-size: 25px;
  font-weight: 400;
  font-family: "Baskerville", serif;
  color: #958A52;
  margin-bottom: 5px;
}

.Tradition2 .Story-Tradition-TextWrap .Story-Tradition-Title {
  font-size: 40px;
  margin-bottom: 5px;
}

.Tradition2 .Story-Tradition-TextWrap .Story-Tradition-Text {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 15px;
}

.Recipes3 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 60px;
}

.Recipes3 .Story-Recipes-ImageWrap {
  width: 35%;
  height: 500px;
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.Recipes3 .Story-Recipes-ImageWrap .Story-Recipes-ImageFrame {
  width: 80%;
  height: 100%;
  background-color: #272727;
  position: absolute;
}

.Recipes3 .Story-Recipes-ImageWrap .Story-Recipes-Image {
  width: 90%;
  height: 90%;
  background-image: url("./Images/Story-Image3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  position: absolute;
  right: 5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.222);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.222);
}

.Recipes3 .Story-Recipes-TextWrap {
  width: 40%;
  height: 100%;
  margin-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Recipes3 .Story-Recipes-TextWrap .Story-Recipes-Header {
  font-size: 25px;
  font-weight: 400;
  font-family: "Baskerville", serif;
  color: #958A52;
  margin-bottom: 5px;
}

.Recipes3 .Story-Recipes-TextWrap .Story-Recipes-Title {
  font-size: 45px;
  margin-bottom: 5px;
}

.Recipes3 .Story-Recipes-TextWrap .Story-Recipes-Text {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 15px;
}

.Quality4 {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

.Quality4 .Story-Quality-ImageWrap {
  width: 80%;
  height: 400px;
  position: relative;
  margin-bottom: 40px;
}

.Quality4 .Story-Quality-ImageWrap .Story-Quality-ImageFrame {
  width: 95%;
  height: 90%;
  top: 0;
  right: 0;
  background-color: #272727;
  position: absolute;
}

.Quality4 .Story-Quality-ImageWrap .Story-Quality-Image {
  width: 97%;
  height: 94%;
  background-image: url("./Images/Story-Image4.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.222);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.222);
}

.Quality4 .Story-Quality-TextWrap {
  width: 85%;
  height: 100%;
  margin-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Quality4 .Story-Quality-TextWrap .Story-Quality-Header {
  font-size: 25px;
  font-weight: 400;
  font-family: "Baskerville", serif;
  color: #958A52;
  margin-bottom: 5px;
}

.Quality4 .Story-Quality-TextWrap .Story-Quality-Title {
  font-size: 45px;
  margin-bottom: 5px;
}

.Quality4 .Story-Quality-TextWrap .Story-Quality-Text {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 15px;
}

@media screen and (max-width: 1200px) {
  #Story-Discover-ImageWrap {
    height: 70%;
  }
  #Story-Quality-ImageWrap {
    height: 250px;
  }
}

@media screen and (max-width: 850px) {
  #Story-Discover-Text {
    font-size: 14px;
  }
  #Story-Tradition-Text {
    font-size: 14px;
  }
  #Story-Recipes-Text {
    font-size: 14px;
  }
  #Story-Quality-Text {
    font-size: 14px;
  }
}

@media screen and (max-width: 700px) {
  #Discover1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 15%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #Story-Discover-ImageWrap {
    height: 200px;
    width: 80%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-bottom: 20px;
  }
  #Story-Discover-TextWrap {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 100%;
  }
  #Tradition2 {
    padding: 0;
  }
  #Story-Tradition-ImageWrap {
    float: none;
    width: 85%;
    height: 300px;
  }
  #Recipes3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #Story-Recipes-ImageWrap {
    width: 80%;
    height: 300px;
    margin-bottom: 40px;
  }
  #Story-Recipes-TextWrap {
    width: 100%;
  }
  #Story-Quality-TextWrap {
    width: 100%;
  }
}

@media screen and (max-width: 570px) {
  #Story-Discover-ImageWrap {
    margin-top: 20px;
  }
}

@media screen and (max-height: 800px) {
  #Story-Discover-Text {
    line-height: 18px;
  }
  #Story-Discover-Title {
    font-size: 32px;
  }
  #Story-Tradition-Text {
    line-height: 18px;
  }
  #Story-Tradition-Title {
    font-size: 32px;
  }
  #Story-Recipes-Text {
    line-height: 18px;
  }
  #Story-Recipes-Title {
    font-size: 32px;
  }
  #Story-Quality-Text {
    line-height: 18px;
  }
  #Story-Quality-Title {
    font-size: 32px;
  }
}

/* ---- ^ Our Story ^ ---- */
/* ---- v Experience v ---- */
.Experience {
  width: 100%;
  position: relative;
  padding: 100px 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Experience .Exp-NavBacker {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1c1b1b;
}

.Experience .Exp-Hero-Wrap {
  width: 100%;
  height: 100vh;
  max-width: 1300px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Experience .Exp-Hero-Wrap .Exp-HeroImage-Wrap {
  width: 100%;
  height: 40%;
  margin-bottom: 40px;
}

.Experience .Exp-Hero-Wrap .Exp-HeroImage-Wrap .Exp-HeroImage {
  width: 100%;
  height: 100%;
  background-image: url("./Images/Experience-Hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Experience .Exp-Section {
  width: 90%;
  margin-bottom: 50px;
  max-width: 1300px;
}

.Experience .Exp-Section .Exp-Section-Title {
  font-size: 32px;
  color: #958A52;
  font-family: "Baskerville", serif;
  font-weight: 300;
  margin-bottom: 20px;
}

.Experience .Exp-Section .Exp-Section-Text {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 10px;
}

.Experience .Exp-Hero-Scroll {
  margin-top: 30px;
  font-size: 12px;
}

.Experience .Exp-Section3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
}

.Experience .Exp-Section3 .Exp-Section3-Image {
  width: 20%;
  height: 400px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  background-image: url("./Images/Experience-Image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 5%;
}

.Experience .Exp-Section3 .Exp-Section3-Content {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

@media screen and (max-width: 1030px) {
  #Exp-Hero-Scroll {
    margin-top: 0px;
  }
}

@media screen and (max-width: 760px) {
  #Exp-Hero-Scroll {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  #Exp-Section3 {
    display: block;
  }
  #Exp-Section3-Image {
    width: 100%;
    height: 200px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 500px) {
  #Exp-Section-Title {
    font-size: 28px;
  }
  #Exp-Section-Text {
    font-size: 14px;
    line-height: 18px;
  }
}

/* ---- ^ Experience ^ ---- */
/* ---- Pages ---- */
/* --- */
/* --- */
/* --- */
/* --- */
/* --- */
/* --- */
/* --- */
/* --- */
/* --- */
/* ---- Desktop Landing Components ---- */
.DarkRightColumn {
  height: 100vh;
  width: 30%;
  background-color: #1c1b1b;
  position: absolute;
  top: 0;
  right: 0;
}

.DarkRightColumn .DarkRightColumn-InnerWrap {
  width: 100%;
  height: 100%;
  padding: 30% 7%;
  padding-top: 45%;
  padding-right: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.DarkRightColumn .DarkRightColumn-InnerWrap .LandingHeader {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 10px;
}

.DarkRightColumn .DarkRightColumn-InnerWrap .LandingDescription {
  font-size: 16px;
  font-weight: 400;
  width: 80%;
  margin-bottom: 10px;
  line-height: 20px;
}

.DarkRightColumn .DarkRightColumn-InnerWrap .LandingReservationBtn {
  border: none;
  background-color: #1c1b1b;
  width: 128px;
  -ms-grid-column-align: right;
      justify-self: right;
}

.DarkRightColumn .DarkRightColumn-InnerWrap .LandingReservationBtn .LandingReservationLink {
  color: #E5E5E5;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 3px;
}

.DarkRightColumn .DarkRightColumn-InnerWrap .LandingReservationBtn .LandingReservationLinkUnderline {
  width: 100%;
  height: 2px;
  background-color: #E5E5E5;
}

.DarkRightColumn .DarkRightColumn-InnerWrap .Footer-CopyRight {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-bottom: 22px;
  font-size: 12px;
  font-weight: 300;
  white-space: nowrap;
}

.BottomFeature {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-bottom: 65px;
  width: 82%;
  max-width: 1200px;
  height: 29vh;
  max-height: 200px;
  padding: 0 30px;
  background-color: rgba(120, 118, 118, 0.153);
}

.BottomFeature .BottomFeature-InnerWrap {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.BottomFeature .BottomFeature-InnerWrap .Feature {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.BottomFeature .BottomFeature-InnerWrap .Feature .FeatureImageFrame {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.BottomFeature .BottomFeature-InnerWrap .Feature .FeatureImageFrame .FeatureImage {
  width: 180px;
  height: 90%;
  max-height: 170px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.208);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.208);
}

.BottomFeature .BottomFeature-InnerWrap .Feature .FeatureImageFrame .FeatureImage1 {
  background-image: url("./Images/FeatureImage1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.BottomFeature .BottomFeature-InnerWrap .Feature .FeatureImageFrame .FeatureImage2 {
  background-image: url("./Images/FeatureImage2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.BottomFeature .BottomFeature-InnerWrap .Feature .Feature-Description {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 10px;
}

.BottomFeature .BottomFeature-InnerWrap .Feature .Feature-Description .Feature-Header {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  white-space: nowrap;
}

.BottomFeature .BottomFeature-InnerWrap .Feature .Feature-Description .Feature-Text {
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 10px;
}

.BottomFeature .BottomFeature-InnerWrap .Feature .Feature-Description .Feature-Button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  width: 73px;
  text-align: left;
}

.BottomFeature .BottomFeature-InnerWrap .Feature .Feature-Description .Feature-Button .Feature-ButtonText {
  color: #E5E5E5;
  font-size: 14px;
  font-weight: 300;
  white-space: nowrap;
}

.BottomFeature .BottomFeature-InnerWrap .Feature .Feature-Description .Feature-Button .Feature-ButtonUnderline {
  width: 100%;
  height: 1px;
  background-color: #E5E5E5;
}

.BottomFeature .BottomFeature-InnerWrap .Feature .Feature-Description .Feature-Button #Feature-ButtonUnderline2 {
  width: 84%;
}

@media screen and (max-width: 1111px) {
  #BottomFeature {
    padding: 15px 0;
  }
  #Feature-Header {
    font-size: 16px;
    margin-top: 10px;
  }
  #Feature-Text {
    font-size: 11px;
  }
}

@media screen and (max-width: 950px) {
  #Footer-CopyRight {
    display: none;
  }
  #BottomFeature {
    width: 90%;
    padding: 0 2%;
  }
}

@media screen and (max-width: 920px) {
  #LandingHeader {
    font-size: 20px;
  }
  #LandingDescription {
    font-size: 14px;
    line-height: 20px;
  }
  #FeatureImage {
    width: 160px;
    height: 150px;
  }
  #Feature-Header {
    font-size: 14px;
  }
  #Feature-Text {
    font-size: 10px;
  }
}

@media screen and (max-width: 776px) {
  #Feature {
    margin: 0;
  }
  #Feature-Header {
    margin-bottom: 7px;
  }
  #Feature-Text {
    margin-bottom: 7px;
  }
  #Feature-Button {
    width: 64px;
  }
  #Feature-ButtonText {
    font-size: 12px;
  }
  #FeatureImage {
    width: 145px;
    height: 135px;
  }
}

@media screen and (max-height: 770px) {
  #LandingHeader {
    font-size: 24px;
  }
  #LandingDescription {
    font-size: 12px;
    line-height: 14px;
  }
}

@media screen and (max-height: 664px) {
  #DarkRightColumn-InnerWrap {
    padding-top: 30%;
  }
  #LandingHeader {
    font-size: 17px;
  }
  #LandingDescription {
    font-size: 12px;
  }
}

@media screen and (max-height: 590px) {
  #LandingDescription {
    width: 100%;
  }
}

/* ---- Desktop Landing Components ---- */
/* --- */
/* --- */
/* --- */
/* --- */
/* --- */
/* --- */
/* --- */
/* --- */
/* --- */
/* ---- Mobile Landing Components ---- */
.MobileFeature {
  width: 100%;
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.MobileFeature1 .MobileSingleFeature1 .MobileFeatureImage {
  background-image: url("./Images/FeatureImage1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.MobileFeature1 .MobileSingleFeature2 .MobileFeatureImage {
  background-image: url("./Images/FeatureImage2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.MobileFeature2 .MobileSingleFeature3 .MobileFeatureImage {
  background-image: url("./Images/FeatureImage3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.MobileFeature2 .MobileSingleFeature4 .MobileFeatureImage {
  background-image: url("./Images/FeatureImage4.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.MobileFeature3 .MobileSingleFeature5 .MobileFeatureImage {
  background-image: url("./Images/FeatureImage5.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.MobileFeature3 .MobileSingleFeature6 .MobileFeatureImage {
  background-image: url("./Images/FeatureImage6.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.MobileFeature4 .MobileSingleFeature7 .MobileFeatureImage {
  background-image: url("./Images/FeatureImage7.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.MobileFeature4 .MobileSingleFeature8 .MobileFeatureImage {
  background-image: url("./Images/FeatureImage8.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.MobileSingleFeature {
  width: 100%;
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.MobileSingleFeature .MobileFeatureImageFrame {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  width: 100%;
  height: 100%;
}

.MobileSingleFeature .MobileFeatureImageFrame .MobileFeatureImage {
  width: 120px;
  height: 120px;
}

.MobileSingleFeature .MobileFeatureDescriptionWrap {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.MobileSingleFeature .MobileFeatureDescriptionWrap .MobileFeatureTitle {
  font-size: 16px;
  margin-bottom: 5px;
}

.MobileSingleFeature .MobileFeatureDescriptionWrap .MobileFeatureText {
  font-size: 12px;
  margin-bottom: 5px;
}

.MobileSingleFeature .MobileFeatureDescriptionWrap .MobileFeatureButton {
  border: none;
  background-color: transparent;
}

.MobileSingleFeature .MobileFeatureDescriptionWrap .MobileFeatureButton .MobileFeatureButtonText {
  color: #E5E5E5;
  font-size: 13px;
  margin-bottom: 2px;
}

.MobileSingleFeature .MobileFeatureDescriptionWrap .MobileFeatureButton .MobileFeatureButtonTextUnderline {
  width: 100%;
  height: 2px;
  background-color: #E5E5E5;
}

.ContactLocation {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ContactLocation .ContactLocation-Title {
  font-size: 20px;
  font-weight: 600;
  margin-top: 80px;
  margin-bottom: 40px;
}

.ContactLocation .ContactLocation-InfoWrap {
  width: 275px;
  height: 125px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #958A52;
  margin-bottom: 80px;
}

.ContactLocation .ContactLocation-InfoWrap .ContactLocation-Info {
  font-size: 13px;
}

/* ---- Mobile Landing Components ---- */
/*# sourceMappingURL=App.css.map */